<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="GeoTimeZone" version="4.1.0" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="2.4.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.18.0" targetFramework="net472" />
  <package id="NodaTime" version="2.4.13" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="TimeZoneConverter" version="3.5.0" targetFramework="net472" />
  <package id="TzLookup" version="1.0.1" targetFramework="net472" />
  <package id="Zmanim" version="1.5.0" targetFramework="net472" />
  <package id="Zmanim.Olson" version="1.5.0" targetFramework="net472" />
</packages>