div{
    text-align: center;
    margin: 3.5px;
}
#submit{
    text-align: center;
    margin: 5px;
    
}
#successfully, #arrived{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    padding: 5px;
    padding: 12px;
}
#add, .addDIV{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
  padding: 5px;
    padding: 25px;
}
