<div id="title">
    <div id="logo">
        <img src="assets/images/logoG.jpg" height="50px" width="50px" />
    </div>
    <div>
        <p>מניינים נוספים באזור</p>
    </div>
    
    
  </div>
<!-- <button *ngFor="let selectMinyan of selects" mat-raised-button color="accent" class="selectButton">
    <div class="select"> 
    <div class="km">
        <span class="numOfKM">{{selectMinyan.NumKM}}</span>
        <span >ק"מ</span>
    </div>

    <div><span class="separate">|</span></div>

    <div class="numOfPeople">
        <mat-icon matBadge={{selectMinyan.NumOfPeople}} >groups</mat-icon>
    </div>

    <div><span class="separate">|</span></div>

    <div class="timeOfDriver">
        <span class="min">{{selectMinyan.TimeDriver}}</span>
        <span class="material-icons">
            hourglass_top
            </span>    </div>

    <div><span class="separate">|</span></div>

    <div class="persentSuccess">
        <span class="material-icons">
            percent
            </span>
        <span class="persent"></span>
        <span >התקיימו </span>
    </div>
</div>
</button> -->

<mat-card *ngFor="let selectMinyan of selects; let i=index" class="select" >
    <mat-card-title>
        <div>
            <span class="min"> {{selectMinyan.TimeDriver}} דקות</span>
        </div>
    </mat-card-title>
    <mat-card-subtitle>
        <div class="km">
            <span class="numOfKM"> {{selectMinyan.NumKM}} ק"מ</span>
        </div>
        <div class="numOfPeople">
            <mat-icon class="numOfPeople" matBadge={{selectMinyan.NumOfPeople}} >groups</mat-icon>
        </div>
    </mat-card-subtitle>
    <mat-card-content>
        <div class="PercentSuccess">
            <p> אחוזי הצלחה בעבר:</p>
            <mat-progress-bar mode="determinate" value={{selectMinyan.PercentSuccess}}></mat-progress-bar>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="SavingChoose(i)">
            <span class="material-icons" >navigate_next</span>
        </button>
       
    </mat-card-actions>
</mat-card>