section {
    display: table;

  }
  #title{
    top:0;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      width:100%;
      color:lightgray;
      text-align: center;
      background-color: rgb(3, 3, 90);
  
  }
  #title #logo{
    /*   position: fixed;
      margin-left: 20px;
      margin-top: 20px; */
      position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  }
  .select{
    margin: 10px;
    background-color: rgb(225, 241, 247);
    border-radius: 5px;
    border:1px solid rgba(178, 178, 180, 0.616);
    
    font-size: 72px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  .min{
    font-size: 35px;
    text-align: left;
    
  } 
  .km{
    font-size: 35px;
    text-align: left;
    margin-left: 10px;
  }

  .numOfPeople{
     margin:20px;
     margin-top: 40px;
     font-size: 40px;
  }

  div{
    display: inline;
  }
  .separate{
    font-size: xx-large;
    color: rgb(238, 235, 235);
  }
  .example-label {
    display: table-cell;
    font-size: 16px;
    margin-left: 10px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  