<div id="title">
    <p> המשך נסיעה בטוחה אנא פעל לפי ההנחייה </p>
  </div>
<div *ngIf="error==1">
    <img src="assets/images/pocketwatch.png"  width="100%" />
</div>
<div *ngIf="error==2">
    <img src="assets/images/time_up.png"  width="100%" />
</div>
<div *ngIf="error==3">
    <img src="assets/images/validLocation.png"  width="100%" />
</div>
<div *ngIf="error==4">
    <img src="assets/images/safeLocation.png"  width="100%" />
</div>

<div id="display" *ngIf="isDisplay">
    <div class="display">
        <img src="assets/images/pocketwatch.png"  width="25%" />
    </div>
    <div class="display">
        <img src="assets/images/time_up.png"  width="25%" />
    </div>
    <div class="display">
        <img src="assets/images/validLocation.png"  width="25%" />
    </div>
    <div class="display">
        <img src="assets/images/safeLocation.png"  width="25%" />
    </div>
</div>

