<p>road-nav works!</p>
<agm-map [latitude]="31.8701568" [longitude]="34.7406336">
  <agm-marker [latitude]="31.8701568" [longitude]="34.7406336"></agm-marker>
</agm-map>

<!-- <iframe src="https://embed.waze.com/ul/iframe?ll=40.75889500%2C-73.98513100&navigate=yes&zoom=12"
  width="100%" height="700"></iframe> -->

 <!-- <iframe src="https://embed.waze.com/he/iframe?zoom=12&lat=31.8701568&lon=34.7406336"
  width="300" height="400"></iframe>

  <br/>
  <iframe src="https://embed.waze.com/iframe?zoom=13&lat=48.85661&lon=2.35222&pin=1"
            width="100%" height="520"></iframe>
              -->