<div id="title">
  <p>ניווט אל המניין</p>
</div>

<a 
  href='https:\\www.waze.com\?ll=31.8701568,34.7406336&navigate=yes' 
  target="_blank">
    Open in Waze
</a>

<iframe src="https://embed.waze.com/he/iframe?ll=31.768319%35.21371&navigate=yes&zoom=17
"
  width="100%" height="400"></iframe>

<iframe src="https://embed.waze.com/iframe?zoom=12&lat=31.768319&lon=35.21371"
  width="300" height="400"></iframe>

  <iframe src="https://embed.waze.com/ul/iframe?ll=31.768319%35.21371&navigate=yes&zoom=17"
  width="300" height="400"></iframe>

  