<div id="title">
  <p>ניווט אל המניין</p>
</div>
 <button mat-mini-fab	color="primary" id="right" (click)="moveTotal()"	>
   <mat-icon>navigate_next</mat-icon>
 </button>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction 
    [origin]="origin" 
    [destination]="destination"
  >
  </agm-direction>
</agm-map>







<!--

<!DOCTYPE html>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="./live-map.component.ts"></script>
   <div id="floating-panel">
      <b>Start: </b>
      <select id="start">
        <option value="chicago, il">Chicago</option>
        <option value="st louis, mo">St Louis</option>
        <option value="joplin, mo">Joplin, MO</option>
        <option value="oklahoma city, ok">Oklahoma City</option>
        <option value="amarillo, tx">Amarillo</option>
        <option value="gallup, nm">Gallup, NM</option>
        <option value="flagstaff, az">Flagstaff, AZ</option>
        <option value="winona, az">Winona</option>
        <option value="kingman, az">Kingman</option>
        <option value="barstow, ca">Barstow</option>
        <option value="san bernardino, ca">San Bernardino</option>
        <option value="los angeles, ca">Los Angeles</option>
      </select>
      <b>End: </b>
      <select id="end">
        <option value="chicago, il">Chicago</option>
        <option value="st louis, mo">St Louis</option>
        <option value="joplin, mo">Joplin, MO</option>
        <option value="oklahoma city, ok">Oklahoma City</option>
        <option value="amarillo, tx">Amarillo</option>
        <option value="gallup, nm">Gallup, NM</option>
        <option value="flagstaff, az">Flagstaff, AZ</option>
        <option value="winona, az">Winona</option>
        <option value="kingman, az">Kingman</option>
        <option value="barstow, ca">Barstow</option>
        <option value="san bernardino, ca">San Bernardino</option>
        <option value="los angeles, ca">Los Angeles</option>
      </select>
    </div>
    <div id="map" style="position: relative; overflow: hidden;">
    </div>

-->
<!-- Async script executes immediately and must be after any DOM elements used in callback. 
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnKYWMN0bWdrCaambzypTgXR4CczM1eFA&callback=initMap&v=weekly"
async
></script>


<iframe
  width="600"
  height="450"
  top="50px"
  right="300px"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYA5X1CdeRcs8mOq3qSaLdu7_lraIO2YE
    &q=Space+Needle,Seattle+WA">
</iframe>
-->
<!-- <app-total-so-far id="amount"></app-total-so-far>
 <iframe src="https://embed.waze.com/he/iframe?ll=31.768319%35.21371&navigate=yes&zoom=17
"
  width="100%" height="400"></iframe> --> 

<!-- <iframe src="https://embed.waze.com/iframe?zoom=12&lat=31.768319&lon=35.21371"
  width="300" height="400"></iframe>

  <iframe src="https://embed.waze.com/ul/iframe?ll=31.768319%35.21371&navigate=yes&zoom=17"
  width="300" height="400"></iframe> -->
 
  <!-- <a 
  href='https:\\www.waze.com\?ll=31.8701568,34.7406336&navigate=yes' 
  target="_blank">
    Open in Waze
</a> -->
<!-- <iframe src="https://maps.googleapis.com/maps/api/directions/json
?avoid=highways
&destination=31.768319,35.21371
&mode=driving
&origin=Jerusalem
&key=AIzaSyCh20t1cystYQqfW329T9O9Hos-vIDqZKs"></iframe> -->


 