<button mat-raised-button routerLink="manager" id="manager"></button>
<div id="title">
  <p>ברוך הבא ל- </p>
</div>
<div id="logo">
        
  <img src="assets/images/logoG.jpg" height="375px" width="667px" />
</div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>


<!-- <iframe src="https://embed.waze.com/he/iframe?zoom=12&lat=31.8701568&lon=34.7406336"
  width="300" height="400"></iframe>

  <br/>
  <iframe src="https://embed.waze.com/iframe?zoom=13&lat=48.85661&lon=2.35222&pin=1"
            width="100%" height="520"></iframe> -->


         
