<p>ברוך הבא</p>

<button routerLink="manager">manager</button>
<!-- <iframe src="https://embed.waze.com/he/iframe?zoom=12&lat=31.8701568&lon=34.7406336"
  width="300" height="400"></iframe>

  <br/>
  <iframe src="https://embed.waze.com/iframe?zoom=13&lat=48.85661&lon=2.35222&pin=1"
            width="100%" height="520"></iframe> -->

<mat-card>
    <mat-card-title>
        <div>
            <span class="min">__</span>
            <span>דקות</span>    
        </div>
    </mat-card-title>
    <mat-card-subtitle>
        <div class="km">
            <span class="numOfKM">__</span>
            <span >ק"מ</span>
        </div>
    </mat-card-subtitle>
    
    <mat-card-content>
      <p>
        blABLABLABLABLABLABLABLA-BLABLABLA
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <span class="material-icons">navigate_next</span>
      </button>
  </mat-card-actions>
  </mat-card>

         
