<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets4.lottiefiles.com/packages/lf20_lb3jx6jr.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop controls autoplay></lottie-player>

<script>
    LottieInteractivity.create({
        mode:"scroll",
        player:'#firstLottie',
        actions: [
            {
                visibility:[0,1],
                type: "seek",
                frames: [0, 39],
            },
        ]  
    });
</script>
<br>
<p>total-so-far works!</p>
